# --- SEGURANÇA (NÃO SUBIR DE JEITO NENHUM) ---
.env
config/.env
*.txt           # Bloqueia key_gemini.txt, key_eleven.txt e codigo_base64.txt
!README.txt     # (Opcional) Se tiver um README em txt que queira subir, use o "!"

# --- PYTHON & CACHE ---
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.log
logs/

# --- AMBIENTE VIRTUAL ---
venv/
.venv/
env/

# --- ARQUIVOS DE COMPILAÇÃO (PYINSTALLER) ---
# Essas pastas são geradas ao criar o .exe e são pesadas/desnecessárias
build/
dist/
*.spec

# --- MÍDIA E ÁUDIO ---
# Bloqueia áudios gerados, mas mantém o som de ativação se desejar
*.mp3
# *.wav  <-- Se você quiser subir o 'trigger.wav', comente esta linha com #