.venv311/
# --- SEGURANÇA ---
.env
config/.env
# Bloqueia arquivos de texto sensíveis mas permite o essencial para o Git
*.txt
!requirements.txt
!README.txt
!instrucoes.txt

# --- PYTHON & CACHE ---
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.log
logs/
*.db

# --- AMBIENTE VIRTUAL ---
venv/
.venv/
env/

# --- ARQUIVOS DE COMPILAÇÃO (PYINSTALLER) ---
# Essas pastas são geradas ao criar o .exe e são pesadas/desnecessárias
build/
dist/
*.spec

# --- MÍDIA E ÁUDIO ---
# Bloqueia áudios gerados, mas mantém o som de ativação se desejar
*.mp3
# *.wav  <-- Se você quiser subir o 'trigger.wav', comente esta linha com #
